%article.video_category
  %header
    %h3= link_to "All Videos"
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  .videos.row
    %h2= link_to "#{@comedy.name}"
    - @comedy.videos.each do |video| 
      .video.span2
        =link_to image_tag("/tmp/#{video.filename}.jpg"), video_path(video)
    %br
    .videos.row
    %h2= link_to =@action.name
    - @action.videos.each do |video| 
      .video.span2
        =link_to image_tag("/tmp/#{video.filename}.jpg"), video_path(video)
    %br
    .videos.row
    %h2= link_to =@drama.name
    - @drama.videos.each do |video| 
      .video.span2
        =link_to image_tag("/tmp/#{video.filename}.jpg"), video_path(video)