%section#top-header.row
  %h1.span2
    = link_to "QuickFLiX", root_path
  -if current_user
    %ul.span4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
      %li= link_to "Admin", new_admin_video_path if current_user.admin?
    / %form.span5.for-search(action= "#{home_path}" )

    %form.span5.tag-search(action= "#{home_path}" )
      / -form_tag home_path, method:'get'
      / %input.search-query(type="text" placeholder="Search for videos here")
      = text_field_tag :search, params[:search]
      %button.btn(type="submit") Search
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name.split.map(&:capitalize).join(' ')}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              = link_to "Plan and Billing", payments_path
              = link_to "Invite a Friend", new_invitation_path
              = link_to "Sign Out", logout_path
