%section.admin_add_video
  .container
    .row
      .span10.offset1
        = bootstrap_form_for [:admin, @video], html:{class: "form-horizontal"} do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              =link_to "Add a New Video", new_admin_video_path
            %li
              = link_to "Add Categories", new_admin_category_path

          %fieldset
            = f.text_field :title, class: "span 3"
            = f.select :categories, options_for_select(Category.all.map {|category| [category.name, category.id]}),{},{multiple: true}
            = f.text_area :description, rows: 8, class: "span6"
            = f.file_field :small_cover, class: "btn btn-file"
            = f.file_field :large_cover, class: "btn btn-file"
            = f.text_field :video_url, class: "span3", label: "Video URL"
            / .control-group
            /   %label.control-label Large Cover
            /   .controls
            /     %span.btn.btn-file
            /       %input(type="file")
            / .control-group
            /   %label.control-label Small Cover
            /   .controls
            /     %span.btn.btn-file
            /       %input(type="file")

          %fieldset.actions.control-group
            .controls
              %input(type="submit" value="Add Video" class="btn btn-success")

